<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="helloBean" class="com.teach.ioc.HelloWorld">
		<constructor-arg ref="helloMessage" />
	</bean>

	<bean id="helloMessage" class="com.teach.ioc.HelloMessage">
		<property name="displayMessage" value="Rajeev Ambasta" />
	</bean>

</beans>
